# Dependency directories
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

!.env.example

# Uploads
uploads/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/